








<!doctype html>






<html    lang="en-us" >

    




    
        
    

    
        

        
            
        
    
        

        
            
        
    




<head><script src="/livereload.js?mindelay=10&amp;v=2&amp;port=4321&amp;path=livereload" data-no-instant defer></script>
    













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    


    








    




<meta charset="utf-8">
<meta content="" name="apple-mobile-web-app-title">


    <meta content="Author Demo" name="author">



    <meta content="Demonstration of the cloud layout." name="description">



    <meta content="Cloud, Layouts, Paige" name="keywords">


<meta content="#0d6efd" name="theme-color">
<meta content="width=device-width, initial-scale=1" name="viewport">

<meta property="og:url" content="//localhost:4321/layouts/cloud/">
  <meta property="og:title" content="Cloud">
  <meta property="og:description" content="Demonstration of the cloud layout.">
  <meta property="og:locale" content="en_us">
  <meta property="og:type" content="website">


  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Cloud">
  <meta name="twitter:description" content="Demonstration of the cloud layout.">



    
        <title>Cloud · Layouts · Introduction</title>
    

    







    <link href="../../apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">



    <link href="../../favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">



    <link href="../../favicon.ico" rel="shortcut icon">



    <link href="../../favicon.svg" rel="icon" type="image/svg+xml">



    <link href="../../web-app-manifest-192x192.png" rel="icon" type="image/png">



    <link href="../../web-app-manifest-512x512.png" rel="icon" type="image/png">



    <link href="../../site.webmanifest" rel="manifest">





















    
        

        
        
        
        

        

        
    

    

    

    
    


<link  crossorigin="anonymous"  href="../../css/paige/paige.95d996ee1e373941aa677da806842bdc257507be.min.52c97a72b4275ed01b7703dd68934d86531557d699bdcad43047d850ce93393e.css"  integrity="sha256-Usl6crQnXtAbdwPdaJNNhlMVV9aZvcrUMEfYUM6TOT4="   referrerpolicy="no-referrer"  rel="stylesheet">




















    
        

        
        
        
        

        

        
    

    
        

        
    

    

    
    


<link  crossorigin="anonymous"  href="../../css/paige/bootstrap/paige.14af94fab147af3def91a3f41c4d4186937373dd.min.90c4c73a5ddf76cf66b04df8e3422cb32b261a91b8768e3807bd11b85e20d1ef.css"  integrity="sha256-kMTHOl3fds9msE3440IssysmGpG4do44B70RuF4g0e8="   referrerpolicy="no-referrer"  rel="stylesheet">




















    

    

    

    
    


<link  crossorigin="anonymous"  href="../../css/paige/bootstrap-icons/bootstrap-icons.min.93276a5444db3cc8ad19a40f7d58eee71b335d21a674536a7d078bc6417c610e.css"  integrity="sha256-kydqVETbPMitGaQPfVju5xszXSGmdFNqfQeLxkF8YQ4="   referrerpolicy="no-referrer"  rel="stylesheet">







    

    













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    


</head>

    <body>


        













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    



        <div class="container">
            <div class="row">
                <div class="col mt-3" id="paige-site" >
                    













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    


                    















    





    



    <header id="paige-site-header">
        













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    



        

        

        
            
                <nav aria-label="Menu" class="paige-row-tall" id="paige-site-menu">
                    <ul class="align-items-center justify-content-center nav ">
                        
                            

                            
                            
                            

                            

                            <li class="nav-item ">
                                <a   class="  nav-link   text-decoration-underline "  href="../../"   ZgotmplZ >Home</a>

                                
                            </li>
                        
                            

                            
                            
                            

                            

                            <li class="nav-item ">
                                <a   class="  nav-link   text-decoration-underline "  href="../../getting-ready/"   ZgotmplZ >Getting Ready</a>

                                
                            </li>
                        
                            

                            
                            
                            

                            

                            <li class="nav-item ">
                                <a   class="  nav-link   text-decoration-underline "  href="../../slides/"   ZgotmplZ >Workshop Slides</a>

                                
                            </li>
                        
                            

                            
                            
                            

                            

                            <li class="nav-item ">
                                <a   class="  nav-link   text-decoration-underline "  href="../../workflows/"   ZgotmplZ >Workflows</a>

                                
                            </li>
                        
                            

                            
                            
                            

                            

                            <li class="nav-item ">
                                <a   class="  nav-link   text-decoration-underline "  href="../../replicate-this-workshop/"   ZgotmplZ >Replicate this Workshop</a>

                                
                            </li>
                        
                            

                            
                            
                            

                            

                            <li class="nav-item ">
                                <a   class="  nav-link   text-decoration-underline "  href="../../contactus/"   ZgotmplZ >Contact Us</a>

                                
                            </li>
                        
                            

                            
                            
                            

                            

                            <li class="nav-item ">
                                <a   class="  nav-link   text-decoration-underline "  href="../../gallery/"   ZgotmplZ >Gallery</a>

                                
                            </li>
                        
                    </ul>
                </nav>
            
        

        

        













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    


    </header>


                    






















    



    
        
    




<article class=" align-items-center d-flex flex-column  paige-kind-section paige-status-published" id="paige-page">
    













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    


    






















    <header class="mw-100 text-center" id="paige-page-header">
        













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    



        
            <h1 class="fw-bold" id="paige-page-title" >Cloud</h1>
        

        
            <p class="lead paige-row-tall" id="paige-page-description" >Demonstration of the cloud layout.</p>
        

        
            <div>
                
                    <p class=" paige-row-short   text-secondary " id="paige-page-keywords">
                        
                            

                            
                                
                            

                            
                                

                                
                                    <a class="link-secondary paige-page-keyword-tag" href="../../tags/cloud/" >Cloud</a>
                                
                            
                        
                            

                            
                                
                            

                            
                                 · 

                                
                                    <a class="link-secondary paige-page-keyword-category" href="../../categories/layouts/" >Layouts</a>
                                
                            
                        
                            

                            
                                
                            

                            
                                 · 

                                
                                    <a class="link-secondary paige-page-keyword-category" href="../../categories/paige/" >Paige</a>
                                
                            
                        
                    </p>
                

                

                
                    <p class="paige-row-short text-secondary" id="paige-page-authors">
                        
                            

                            
                                <a class="link-secondary" href="../../authors/author-demo/" >Author Demo</a>
                            
                        
                    </p>
                

                

                
                    <p class="paige-row-short text-secondary" id="paige-page-word-count" >20 words</p>
                

                
                    <p class="paige-row-short text-secondary" id="paige-page-reading-time" >1 minute</p>
                
            </div>
        

        

        

        













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    


    </header>



    <main class="mw-100" id="paige-page-content" >
        













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    



        
            <p>The <code>paige/cloud</code> layout displays list page links as a link cloud.</p>
<p>This page has the following parameters:</p>
<div class="highlight"><pre tabindex="0" class="chroma"><code class="language-yaml" data-lang="yaml"><span class="line"><span class="cl"><span class="nt">layout</span><span class="p">:</span><span class="w"> </span><span class="s2">&#34;paige/cloud&#34;</span><span class="w">
</span></span></span></code></pre></div><p>Result:</p>
        

        













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    


    </main>

    









    

    




    













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    


</article>














    
    







    <div id="paige-page-pages">
        

        

        
            
































    





<div class="paige-page paige-status-published text-center w-100">
    
        <p class="paige-page-title paige-row-short"><a href="../../layouts/cloud/apple/">Apple</a></p>
    

    

    

    

    

    

    

    

    
</div>

        
            
































    





<div class="paige-page paige-status-published text-center w-100">
    
        <p class="paige-page-title paige-row-short"><a href="../../layouts/cloud/banana/">Banana</a></p>
    

    

    

    

    

    

    

    

    
</div>

        
            
































    





<div class="paige-page paige-status-published text-center w-100">
    
        <p class="paige-page-title paige-row-short"><a href="../../layouts/cloud/cantaloupe/">Cantaloupe</a></p>
    

    

    

    

    

    

    

    

    
</div>

        

        
    

    
    

    

    </div>



                    









    






                    













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    


                </div>
            </div>
        </div>

        















    

    
    


<script  crossorigin="anonymous"   defer  integrity="sha256-rJF61ZriZrRi/FZim6w1a1dHEvCKpqo8ProZWeZv9Ng="   referrerpolicy="no-referrer"  src="../../js/paige/bootstrap/bootstrap.bundle.min.ac917ad59ae266b462fc56629bac356b574712f08aa6aa3c3eba1959e66ff4d8.js" ></script>















    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
    
    

    
        
    

    
        
    

    
        
    

    

    
        

        
            
            
            

            
                

                

                
                    
                

                

                
                
            
        

        
    

    

    

    

    

    
        
    

    

    
        
    

    

    
        
    

    
        
    

    

    
        
    

    
        
    

    

    
        
    

    <script type="application/ld+json">{"@context":"https://schema.org","@type":"Article","abstract":"The paige/cloud layout displays list page links as a link cloud.","alternativeHeadline":"Demonstration of the cloud layout.","articleSection":"Cloud","author":[{"@type":"Person","name":"Author Demo"}],"description":"Demonstration of the cloud layout.","headline":"Cloud","inLanguage":"en-us","keywords":"Cloud, Layouts, Paige","name":"Cloud","timeRequired":"PT1M","url":"//localhost:4321/layouts/cloud/","wordCount":20}</script>



<noscript>JavaScript is required</noscript>

        













    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    

    
    

    

    

    


    </body>
</html>
